<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioControlador</servlet-name>
        <servlet-class>Controlador.UsuarioControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialControlador</servlet-name>
        <servlet-class>Controlador.MaterialControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleProductoControlador</servlet-name>
        <servlet-class>Controlador.DetalleProductoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialesUtilizadosControlador</servlet-name>
        <servlet-class>Controlador.MaterialesUtilizadosControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioControlador</servlet-name>
        <url-pattern>/UsuarioControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialControlador</servlet-name>
        <url-pattern>/MaterialControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleProductoControlador</servlet-name>
        <url-pattern>/DetalleProductoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialesUtilizadosControlador</servlet-name>
        <url-pattern>/MaterialesUtilizadosControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
